.admin-content .ant-card {
  background: rgba(255, 255, 255, 0.40) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: #404040 !important;
}

.admin-content .ant-input {
  color: #606060 !important;
  border: 1px solid rgba(255, 215, 0, 0.8) !important
}